<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
   		<title>Node and Redis Demo</title>
   		<link rel="stylesheet" href="https://bootswatch.com/slate/bootstrap.min.css">
   	</head>

   	<body>

   	<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Node Redis</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/user/add">Add User</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
   		{{{body}}}
   	</div>
   	
   	</body>
</html>